* {
	background-color: beige;
}

h1 {
	font-family: Indie Flower;
	font-size: 2em;
	position: relative;
}

/*------- Header ------------*/
header {
	background-color: blue;
	opacity: 1;
	width: 100%;
	height: 350px;
	margin: auto;
	position: static;

}

#header-img {
	position: relative;
	max-width: 100%;
	max-height: 4000px;
	margin: auto;
	opacity: 0.7;
}

/*------- Nav Bar ------------*/

/*------- Body ------------*/

nav ul, div {
	clear: both;
	position: relative;
	top: 100px;
}

nav {
	clear: both;
}

#main-headline {
	position: relative;
	clear: both;

}
#trip-outline {
	width: 700px;
	margin: auto;
}

/*------- Footer ------------*/
footer {
	clear: both;
}
